*{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
    /* background-color:; */

}
.Container{
    /* width: 50vw; */
}
.quiz{
    font-weight: 800;
}
.signup{
    display: flex;
    flex-direction: column;
    gap: 10%;
}
